pkgbase = vrandr
	pkgdesc = Vim-style TUI for xrandr, built with Ratatui
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/tongzhuo/vrandr
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = rust
	depends = xrandr
	source = vrandr-0.1.0.tar.gz::https://github.com/tongzhuo/vrandr/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = vrandr
